
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
table, th, td {
    order: 1px solid #ddd;
}
th, td {
    padding: 10px;
    text-align: left;
}
th {
    background-color: #333;
    color: #fff;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #ddd;
}

a {
    color: blue; /* Cor do texto do link */
    text-decoration: none; /* Remove o sublinhado */
    font-weight: bold; /* Deixa o texto em negrito */
}

/* Estilo para links quando o cursor está sobre eles (hover) */
a:hover {
    color: darkblue; /* Muda a cor quando o link é hover */
    text-decoration: underline; /* Adiciona sublinhado quando o link é hover */
}

/* Estilo para links visitados */
a:visited {
    color: purple; /* Muda a cor dos links que já foram visitados */
}

 /* Estilo para links quando clicados (ativos) */
 a:active {
     color: red; /* Cor do link quando ele é clicado */
 }
